In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Load dataset
df = pd.read_csv("Cleaned_Bike_Data.csv")

# Separate target and features
X = df[["age", "power", "brand", "owner_encoded", "city", "kms_driven"]]
y = df["price"]

# Identify categorical and numerical columns
categorical_cols = X.select_dtypes(include=["object", "category"]).columns.tolist()
numerical_cols = X.select_dtypes(include=["int64", "float64"]).columns.tolist()

# Preprocessor: OneHotEncode categoricals, Scale numericals
preprocessor = ColumnTransformer(transformers=[
    ("num", StandardScaler(), numerical_cols),
    ("cat", OneHotEncoder(drop="first", handle_unknown="ignore"), categorical_cols)
])

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [37]:
X_train

       age  power          brand  owner_encoded       city  kms_driven
30826    8    100           Hero              1    Chennai       22824
12455    9    220          Bajaj              1  Bangalore       60000
15264   11    220          Bajaj              2      Delhi       20245
24463    9    180            TVS              1     Karnal        6639
18809    4    350  Royal Enfield              1      Delhi       20000
...    ...    ...            ...            ...        ...         ...
13123   13    150          Bajaj              1       Pune       60857
19648    4    390            KTM              1     Mumbai       13216
9845     9    150          Bajaj              1      Delhi       32588
10799   11    220          Bajaj              2      Delhi       20245
2732     8    180            TVS              1      Noida       67363

[26018 rows x 6 columns]

In [38]:
pipe_lr = Pipeline([
    ("preprocessing", preprocessor),
    ("model", LinearRegression())
])
pipe_lr.fit(X_train, y_train)
pred_lr = pipe_lr.predict(X_test)
r2_lr = r2_score(y_test, pred_lr)
print("Linear Regression R² Score:", round(r2_lr, 4), "| Accuracy:", round(r2_lr * 100, 2), "%")

Linear Regression R² Score: 0.9278 | Accuracy: 92.78 %

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [39]:
pipe_ridge = Pipeline([
    ("preprocessing", preprocessor),
    ("model", Ridge(alpha=1.0))
])
pipe_ridge.fit(X_train, y_train)
pred_ridge = pipe_ridge.predict(X_test)
r2_ridge = r2_score(y_test, pred_ridge)
print("Ridge Regression R² Score:", round(r2_ridge, 4), "| Accuracy:", round(r2_ridge * 100, 2), "%")

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

Ridge Regression R² Score: 0.9226 | Accuracy: 92.26 %

In [40]:
pipe_lasso = Pipeline([
    ("preprocessing", preprocessor),
    ("model", Lasso(alpha=0.1))
])
pipe_lasso.fit(X_train, y_train)
pred_lasso = pipe_lasso.predict(X_test)
r2_lasso = r2_score(y_test, pred_lasso)
print("Lasso Regression R² Score:", round(r2_lasso, 4), "| Accuracy:", round(r2_lasso * 100, 2), "%")

Lasso Regression R² Score: 0.9221 | Accuracy: 92.21 %

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:658: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9226196609916.658, tolerance: 22136878044.599876
  model = cd_fast.sparse_enet_coordinate_descent(
d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [41]:
pipe_dt = Pipeline([
    ("preprocessing", preprocessor),
    ("model", DecisionTreeRegressor(max_depth=5))
])
pipe_dt.fit(X_train, y_train)
pred_dt = pipe_dt.predict(X_test)
r2_dt = r2_score(y_test, pred_dt)
print("Decision Tree R² Score:", round(r2_dt, 4), "| Accuracy:", round(r2_dt * 100, 2), "%")

Decision Tree R² Score: 0.9305 | Accuracy: 93.05 %

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [42]:
pipe_rf = Pipeline([
    ("preprocessing", preprocessor),
    ("model", RandomForestRegressor(n_estimators=100, random_state=42))
])
pipe_rf.fit(X_train, y_train)
pred_rf = pipe_rf.predict(X_test)
r2_rf = r2_score(y_test, pred_rf)
print("Random Forest R² Score:", round(r2_rf, 4), "| Accuracy:", round(r2_rf * 100, 2), "%")

Random Forest R² Score: 0.9731 | Accuracy: 97.31 %

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [43]:
pipe_gb = Pipeline([
    ("preprocessing", preprocessor),
    ("model", GradientBoostingRegressor(n_estimators=100, learning_rate=0.1))
])
pipe_gb.fit(X_train, y_train)
pred_gb = pipe_gb.predict(X_test)
r2_gb = r2_score(y_test, pred_gb)
print("Gradient Boosting R² Score:", round(r2_gb, 4), "| Accuracy:", round(r2_gb * 100, 2), "%")

Gradient Boosting R² Score: 0.961 | Accuracy: 96.1 %

d:\Users\mohit\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:242: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(